.navbar {
    display: block;
    padding: 0.5rem 0rem;
}

.navbar a {
    border-bottom: 1px solid black;
}

#title {
    color: black;
    border-bottom: 1px solid black;
}

.nav-link {
    color: gray;
}

@media (min-width:768px) {
    #sticky-sidebar {
        position: fixed;
    }
}