nav#navbar a {
    border-bottom: 1px solid black;
    color: gray;
}

ul li.nav-item {
    list-style: none;
}

header {
    font-size: 1.25rem;
    font-weight: bold;
}

code {
    background-color: #17191f;
    display: block;
    padding: 15px;
    color: white;
    border: 1px solid #17191f;
    border-radius: 5px;
}

.scrollClass {
    display: block;
    height: 150px;
    overflow-y: scroll;
}

@media (min-width: 768px) {
    .scrollClass {
        display: block;
        height: 100%;
        overflow-y: hidden;
    }
}


/* @media (max-width: 575.98px) {
    display: block;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    display: block;
} */